<footer class="bg-dark" style="color: #858585; padding: 20px; position: relative; bottom: 0; width: 100%;">
    <div style="text-align: center;">
        <p>Desenvolvido por <a href="#" style="color: #858585; text-decoration: none;"></a></p>
        <p>Siga-nos nas redes sociais:</p>
        <div style="display: flex; justify-content: center;">
            <a href="#" style="margin-right: 10px; color: #858585; text-decoration: none;">Facebook</a>
            <a href="#" style="margin-right: 10px; color: #858585; text-decoration: none;">Twitter</a>
            <a href="#" style="color: #858585; text-decoration: none;">Instagram</a>
        </div>
    </div>
</footer>
