{% extends 'index.html' %}
{% load static %}

{% block title %}
SOLTEIRO
{% endblock %}
{% block body %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6 mb-4" style="text-decoration: none; color: inherit;">
            <div class="card" style="height: 540px; width: 600px; margin: 20px; padding: 10px">
                <div style="display: flex; justify-content: center;">
                    <a href="#">
                        <img src="{{ dados_quarto.3.foto_quarto.url }}" style="width: 500px; height: 300px; " alt="foto_quarto">
                    </a>
                    
                </div>               
                <div class="card-body">
                    <a href="#" style="color: inherit; text-decoration-line: none;">
                        <h5 class="card-title">{{ dados_quarto.3.tipo }}</h5>
                        <p class="card-text">{{ dados_quarto.3.descricao }}</p>
                        <p class="card-text">Diária: R$ {{ dados_quarto.3.valor }}</p>
                        <p class="card-text">Disponibilidade: {{ dados_quarto.3.disponibilidade }}</p>
                    </a>

                    
                </div>
            </div>
            <div class="card" style="height: 540px; width: 600px; margin: 20px; padding: 10px">
                <div style="display: flex; justify-content: center;">
                    <a href="#">
                        <img src="{{ dados_quarto.13.foto_quarto.url }}" style="width: 500px; height: 300px; " alt="foto_quarto">
                    </a>
                    
                </div>               
                <div class="card-body">
                    <a href="#" style="color: inherit; text-decoration-line: none;">
                        <h5 class="card-title">{{ dados_quarto.13.tipo }}</h5>
                        <p class="card-text">{{ dados_quarto.13.descricao }}</p>
                        <p class="card-text">Diária: R$ {{ dados_quarto.13.valor }}</p>
                        <p class="card-text">Disponibilidade: {{ dados_quarto.13.disponibilidade }}</p>
                    </a>

                    
                </div>
            </div>
            <div class="card" style="height: 540px; width: 600px; margin: 20px; padding: 10px">
                <div style="display: flex; justify-content: center;">
                    <a href="#">
                        <img src="{{ dados_quarto.14.foto_quarto.url }}" style="width: 500px; height: 300px; " alt="foto_quarto">
                    </a>
                    
                </div>               
                <div class="card-body">
                    <a href="#" style="color: inherit; text-decoration-line: none;">
                        <h5 class="card-title">{{ dados_quarto.14.tipo }}</h5>
                        <p class="card-text">{{ dados_quarto.14.descricao }}</p>
                        <p class="card-text">Diária: R$ {{ dados_quarto.14.valor }}</p>
                        <p class="card-text">Disponibilidade: {{ dados_quarto.14.disponibilidade }}</p>
                    </a>

                    
                </div>
            </div>
            <div class="card" style="height: 540px; width: 600px; margin: 20px; padding: 10px">
                <div style="display: flex; justify-content: center;">
                    <a href="#">
                        <img src="{{ dados_quarto.15.foto_quarto.url }}" style="width: 500px; height: 300px; " alt="foto_quarto">
                    </a>
                    
                </div>               
                <div class="card-body">
                    <a href="#" style="color: inherit; text-decoration-line: none;">
                        <h5 class="card-title">{{ dados_quarto.15.tipo }}</h5>
                        <p class="card-text">{{ dados_quarto.15.descricao }}</p>
                        <p class="card-text">Diária: R$ {{ dados_quarto.15.valor }}</p>
                        <p class="card-text">Disponibilidade: {{ dados_quarto.15.disponibilidade }}</p>
                    </a>

                    
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}