{% extends 'index.html' %}
{% load static %}

{% block title %}
Reserve Já
{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6 mb-4">
            <div class="card" style="height: 540px; width: 600px; margin: 20px; padding: 10px">
                <div style="display: flex; justify-content: center;">
                    <a href="#">
                        <img src="{{ dados_quarto.0.foto_quarto.url }}" style="width: 500px; height: 300px; " alt="logo">
                    </a>
                </div>               
                <div class="card-body">
                    <a href="#" style="color: inherit; text-decoration-line: none;">
                        <h5 class="card-title">{{ dados_quarto.0.tipo }}</h5>
                        <p class="card-text">{{ dados_quarto.0.descricao }}</p>
                        <p class="card-text">Diária: R$ {{ dados_quarto.0.valor }}</p>
                        <p class="card-text">Disponibilidade: {{ dados_quarto.0.disponibilidade }}</p>
                    </a>
                </div>
            </div>
            <div class="card" style="height: 540px; width: 600px; margin: 20px; padding: 10px">
                <div style="display: flex; justify-content: center;">
                    <a href="#">
                        <img src="{{ dados_quarto.5.foto_quarto.url }}" style="width: 500px; height: 300px; " alt="logo">
                    </a>
                </div>               
                <div class="card-body">
                    <a href="#" style="color: inherit; text-decoration-line: none;">
                        <h5 class="card-title">{{ dados_quarto.5.tipo }}</h5>
                        <p class="card-text">{{ dados_quarto.5.descricao }}</p>
                        <p class="card-text">Diária: R$ {{ dados_quarto.5.valor }}</p>
                        <p class="card-text">Disponibilidade: {{ dados_quarto.5.disponibilidade }}</p>
                    </a>
                </div>
            </div>
            <div class="card" style="height: 540px; width: 600px; margin: 20px; padding: 10px">
                <div style="display: flex; justify-content: center;">
                    <a href="#">
                        <img src="{{ dados_quarto.6.foto_quarto.url }}" style="width: 500px; height: 300px; " alt="logo">
                    </a>
                </div>               
                <div class="card-body">
                    <a href="#" style="color: inherit; text-decoration-line: none;">
                        <h5 class="card-title">{{ dados_quarto.6.tipo }}</h5>
                        <p class="card-text">{{ dados_quarto.6.descricao }}</p>
                        <p class="card-text">Diária: R$ {{ dados_quarto.4.valor }}</p>
                        <p class="card-text">Disponibilidade: {{ dados_quarto.4.disponibilidade }}</p>
                    </a>
                </div>
            </div>
            <div class="card" style="height: 540px; width: 600px; margin: 20px; padding: 10px">
                <div style="display: flex; justify-content: center;">
                    <a href="#">
                        <img src="{{ dados_quarto.4.foto_quarto.url }}" style="width: 500px; height: 300px; " alt="logo">
                    </a>
                </div>               
                <div class="card-body">
                    <a href="#" style="color: inherit; text-decoration-line: none;">
                        <h5 class="card-title">{{ dados_quarto.4.tipo }}</h5>
                        <p class="card-text">{{ dados_quarto.4.descricao }}</p>
                        <p class="card-text">Diária: R$ {{ dados_quarto.4.valor }}</p>
                        <p class="card-text">Disponibilidade: {{ dados_quarto.4.disponibilidade }}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
